@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --app-font-size: 16px;
  --glass-blur: 16px;
  --glass-opacity: 0.65;
  --bg-opacity: 0.85;
}

html {
  font-size: var(--app-font-size, 16px);
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
